.card-content {
  display: flex;           /* Ensures the use of Flexbox */
  flex-direction: column;  /* Stacks the children vertically */
  align-items: center;     /* Centers children vertically */
  justify-content: center; /* Centers children horizontally */
  margin-top: 10px;        /* Additional styling */
}

.id-card {
  max-height: 70vh;
}


.full-width {
  width: 90%;
  margin-left: 5%;
}

mat-form-field {
  width: 100%; /* Set width to 100% of the parent container */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;       /* This will center the fields horizontally */
  justify-content: center;   /* This will center the fields vertically */
  height: 70%;
}

mat-card-subtitle {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 0;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.table-container {
  border: 1px solid #ccc; /* Border color and width */
  margin: 10px 0; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scroll if content exceeds max height */
  width: 90%;
}

table {
  width: 100%;
}

mat-card-subtitle {
  margin: 1em 0;
}
