<mat-card class="factory-card">
  <mat-card-header>
    <mat-card-title>T-REX Factory</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="car-tab">
      <mat-card-subtitle class="subtitle">Check if Identity is registered</mat-card-subtitle>
      <form class="center-content" [formGroup]="checkGroup" (ngSubmit)="check()">

        <div style="width: 90%">
          <mat-form-field fxFlex="100%">
            <mat-label>User Address</mat-label>
            <input matInput formControlName="check" type="text">
          </mat-form-field>
        </div>

        <button type="submit" mat-raised-button>Check</button>

      </form>

      <mat-divider style="margin: 3% 0"></mat-divider>

      <mat-card-subtitle class="subtitle">Get Identity Address</mat-card-subtitle>

      <form class="center-content" [formGroup]="getGroup" (ngSubmit)="get()">

        <div style="width: 90%">
          <mat-form-field fxFlex="100%">
            <mat-label>User Address</mat-label>
            <input matInput formControlName="get" type="text">
          </mat-form-field>
        </div>

        <button type="submit" mat-raised-button>Get</button>

      </form>

      <mat-divider style="margin: 3% 0"></mat-divider>

      <mat-card-subtitle class="subtitle">Check if Verified</mat-card-subtitle>

      <form class="center-content" [formGroup]="isVerifiedGroup" (ngSubmit)="isVerified()">

        <div style="width: 90%">
          <mat-form-field fxFlex="100%">
            <mat-label>User Address</mat-label>
            <input matInput formControlName="isVerified" type="text">
          </mat-form-field>
        </div>

        <button type="submit" mat-raised-button>Check</button>

      </form>

    </div>
  </mat-card-content>
</mat-card>
